.DS_Store
*.o
*.hmap
*.dep
*.d
*.dia
*.dat
*.LinkFileList
*.tar.gz
Info.plist
XcodeMonkC/MonkCAppXcodeTemplete/build/Release/MonkCAppXcodeTemplete
XcodeMonkC/MonkCAppXcodeTemplete/build/Release/MonkCAppXcodeTemplete.dSYM/Contents/Resources/DWARF/MonkCAppXcodeTemplete
src/lemontea/lemontea/
src/monkc_runtime/monkc/
example/build/
!binary
